.blog {
  height: 75vh;
  overflow-y: auto;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
}

.blogTitle {
  font-size: 64px;
  text-align: center;
}

.article {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 65px;
  border-radius: 25px;
  max-height: 75vh;
  overflow-y: auto;
}

.articleTitle {
  font-size: 32px;
}
