.projects {
  text-align: center;
  height: 75vh;
  overflow-y: auto;
  width: 1200px;
  max-width: 100%;
}

.projectWrapper {
  width: 500px;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 32px;
  border-radius: 15px;
  max-width: calc(100% - 32px);
  display: inline-block;
  margin: 16px;
}
